* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-width: 100vw;
	min-height: 100vh;
	background-color: rgb(208, 208, 35);

	display: grid;
	place-items: center;
}

main {
	background-color: whitesmoke;
	height: 400px;
	width: 400px;
	padding: 20px;

	display: grid;
	place-items: center;
}

.dice-wrapper {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 0.5rem;
}

.die {
	background-color: white;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 5px;
	border: 1px rebeccapurple solid;
	cursor: pointer;

	display: grid;
	place-items: center;
}

.die.active {
	background-color: rgb(215, 221, 219);
}

.die-text {
	color: rebeccapurple;
	font-size: 2rem;
}

.roll-dice-button {
	padding: 1rem;
	background: green;
	color: white;
	font-family: "Times New Roman", Times, serif;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}
