* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-width: 100vw;
	min-height: 100vh;
	background-color: rgb(208, 208, 35);

	display: grid;
	place-items: center;
}

main {
	background-color: whitesmoke;
	height: 400px;
	width: 400px;
	padding: 20px;

	display: grid;
	place-items: center;
}

.dices-wrapper {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 0.5rem;
}

.die {
	background-color: rgb(179, 179, 179);
	width: 2.5rem;
	height: 2.5rem;

	display: grid;
	place-items: center;
}
